

.coffee-types {
    padding: 80px 0;
    h1 {
        color: #564242;
        font-family: 'Spicy Rice', cursive;
        margin: 10px 0;
        font-size: 23px;
        font-weight: 350;
    }
    p {
        font-size: 20px;
        font-weight: bold;
        color: #BE9C79;
    }
}