.container2{
    width: 93%;
    margin: auto;
}


.footer-top {
    padding: 45px 0;
    background-image: url(https://cdn.shopify.com/s/files/1/0169/4053/1812/files/footer_fec90b03-18a6-4f11-89d6-03c89e1bca9c.jpg?v=1571318156);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h3 {
        color: #BE9C79;
        font-family: 'Spicy Rice', cursive;
        font-weight: 400;
    }
    ul {
        padding: 0%;
        margin: 0%;
        li {
            list-style: none;
            padding: 7px;
            
            a {
                text-decoration: none;
                color: white;
                font-size: 17px;
                transition: .3s ease-in-out;
            &:hover {
                color: #ddbd9e;
            }
            }
        }
    }
}


//////////////////////////////////
.footer-center {
    padding: 50px 0;
    background-color: #F9EFD4;
    .connect {
        
        width: 100%;
        height: 100%;
        text-align: center;
        border-right: 2px solid white;
        h3 {
            color: #BE9C79;
            font-family: 'Spicy Rice', cursive;
            font-weight: 400;
            padding-bottom: 10px;
            font-size: 20px;
        }
        a {
            i {
                padding: 7px;
                color: black;
            }
        }
    }
    .our-app {
      
        text-align: center;
       h3 {
           color: #BE9C79;
           font-family: 'Spicy Rice', cursive;
           font-weight: 400;
           font-size: 20px;
           padding-bottom: 10px;
       }
    }
}

.footer-bottom {
    padding: 25px 0;
    background-color: #271C1B;
    h3 {
        font-size: 18px;
        color: white;
        font-weight: 350;
        span {
            transition: .3s ease-in-out;
            &:hover {
                color: #CF3D0E;
                cursor: pointer;
            }
        }
    }
    a {
        text-decoration: none;
        img {
            
            opacity: 0.6;
            transition: .3s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
    }
}



///////////////////////////////


//////////////////////////////////



//////////////////////////


//////////////////////////////////



//////////////////////////////

