.taste {
    background-image: url(https://cdn.shopify.com/s/files/1/0169/4053/1812/files/img-1.jpg?v=1550665169);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        color: #514242;
        font-family: 'Spicy Rice', cursive;
        font-weight: 350;
        margin-bottom: 20px;
        margin-top: 40px;

    }
    h4 {
        font-family: 'Spicy Rice', cursive;
        color: #A45F41;
        font-weight: 350;
        margin-bottom: 20px;

    }
    button {
        width: 15%;
        padding: 11.5px 0 12px 0;
        border: none;
        font-size: 1.1rem;
        background-image: url(https://cdn.shopify.com/s/files/1/0169/4053/1812/t/2/assets/pattern.png?v=15633637692540156891);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        background-color: #BE9C79;
        transition: .3s ease-in-out;
        border-radius: 2px;
        margin-bottom: 30px;
        &:hover {
        background-color: #624C43;
        }
        a {
           text-decoration: none;
           color: white;
        }
    }
    img {
        margin-bottom: 40px;
    }
}